.menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menuItem {
    line-height: 0;
    margin: 1em;
}

.menuItem p {
    font-size: 0.75rem;
}

.menuItem strong {
    font-size: 1rem;
    line-height: 1.5em;
}

.menuItem img {
    height: 100px;
}

.styled {
    border-bottom: 1px dashed;
    padding-bottom: 1em;
}



@media (min-width: 576px) {
    main {
        min-width: 50%;
    }

    .menu {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media print {
    body {
        background-color: white;
        background-image: none;
    }

    img {
        width: 0;
        height: 0;
    }
}